@charset "UTF-8";
/*======= FONT FAMILY====== */
/*======= BODY ====== */
/*======= URL ====== */
/*============== BREAK POINT ================= */
/*============= SET BORDER RADIUS ================= */
/*============== SET BOX SHADOW ================= */
/*============== SET BORDER BOX ================= */
/*============== SET FONT ================= */
/*============== COLOR A:HOVER ================= */
/*============== SET COLUMN ================= */
/*============== CLEAR FIX ================= */
/*============== BREAK POINT================= */
/*======= FONT FAMILY====== */
/*======= BODY ====== */
/*======= URL ====== */
/*============== BREAK POINT ================= */
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

h1 {
  padding: 0px !important;
  margin: 0px !important;
}

h2 {
  padding: 0px !important;
  margin: 0px !important;
}

h3 {
  padding: 0px !important;
  margin: 0px !important;
}

h4 {
  padding: 0px !important;
  margin: 0px !important;
}

h5 {
  padding: 0px !important;
  margin: 0px !important;
}

h6 {
  padding: 0px !important;
  margin: 0px !important;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

/* open-sans-regular - latin */
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
}

.container {
  margin: 0 auto !important;
  width: 1000px !important;
  text-align: left;
}

.l-main {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.l-main:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  margin-bottom: 10px;
  padding: 5px 10px 10px;
  background-color: #efefef;
  position: relative;
}

#header h1 {
  margin: 0 150px 5px 0;
  font-size: 1.1rem;
  font-weight: normal;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-bottom: 10px;
}

#gNavi li {
  width: 160px;
  background-color: #efefef;
  float: left;
}

#gNavi li a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  padding: 10px 10px 5px;
  background-color: #efefef;
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
/* ==============LAYOUT =============== */
@media screen and (max-width: 767px) {
  header.l-header div.c-header-1 div.container {
    width: 100% !important;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    position: relative;
    z-index: 1;
  }
}

header.l-header div.c-header-1 div.container div.c-logo {
  float: left;
}

@media screen and (max-width: 767px) {
  header.l-header div.c-header-1 div.container div.c-logo {
    float: none;
  }
}

header.l-header div.c-header-1 div.container div.c-nav {
  float: left;
  margin-left: 42px;
}

@media screen and (max-width: 767px) {
  header.l-header div.c-header-1 div.container div.c-nav {
    display: none;
    margin-left: 0px;
    position: absolute;
    width: 100%;
    top: 98px;
    right: 0px;
    background: #FFFFFF;
  }
}

header.l-header div.c-header-1 div.container div.c-btn-mobile-1 {
  display: none;
}

@media screen and (max-width: 767px) {
  header.l-header div.c-header-1 div.container div.c-btn-mobile-1 {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
  }
}

header.l-header div.c-header-1 div.container div.c-btn-mobile-2 {
  display: none;
}

@media screen and (max-width: 767px) {
  header.l-header div.c-header-1 div.container div.c-btn-mobile-2 {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 2;
  }
}

header.l-header div.c-header-1 div.container:after {
  content: "";
  display: table;
  clear: both;
}

header.l-header div.c-header-2 {
  width: 100%;
  background: url("../img/banner.jpg") no-repeat center center;
  background-size: cover;
}

header.l-header div.c-header-2 div.container {
  position: relative;
  z-index: 0;
  min-height: 431px;
}

@media screen and (max-width: 767px) {
  header.l-header div.c-header-2 div.container {
    width: 100% !important;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

header.l-header div.c-header-2 div.container div.c-box-header-2 {
  position: absolute;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  header.l-header div.c-header-2 div.container div.c-box-header-2 {
    position: inherit;
  }
}

header.l-header div.c-header-2 div.container div.c-box-header-2 div.c-box-left {
  float: left;
  padding: 45px 0 40px 0;
}

@media screen and (max-width: 767px) {
  header.l-header div.c-header-2 div.container div.c-box-header-2 div.c-box-left {
    padding: 22.5px 0 20px 0;
    float: none;
    display: inline-block;
    width: 100%;
  }
  header.l-header div.c-header-2 div.container div.c-box-header-2 div.c-box-left img {
    width: 100%;
    height: auto;
  }
}

header.l-header div.c-header-2 div.container div.c-box-header-2 div.c-box-right {
  float: left;
}

@media screen and (max-width: 767px) {
  header.l-header div.c-header-2 div.container div.c-box-header-2 div.c-box-right {
    float: none;
  }
}

header.l-header div.c-header-2 div.container div.c-box-header-2 div.c-box-right div.c-btn-header {
  float: left;
  padding: 62px 0 0 14px;
  margin-right: 15px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

@media screen and (max-width: 767px) {
  header.l-header div.c-header-2 div.container div.c-box-header-2 div.c-box-right div.c-btn-header {
    padding: 0;
    width: 45%;
    margin: 0 2% 0 6%;
  }
}

header.l-header div.c-header-2 div.container div.c-box-header-2 div.c-box-right div.c-info-header {
  float: left;
  background: url("../img/img_03.png") no-repeat;
  background-size: cover;
  min-height: 238px;
  width: 208px;
  margin-top: 60px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  padding: 13px;
}

@media screen and (max-width: 767px) {
  header.l-header div.c-header-2 div.container div.c-box-header-2 div.c-box-right div.c-info-header {
    background-size: 100% 100%;
    margin-top: 0px;
    width: 45%;
    margin-bottom: 30px;
    margin-right: 2%;
  }
}

header.l-header div.c-header-2 div.container div.c-box-header-2 div.c-box-right:after {
  content: "";
  display: table;
  clear: both;
}

header.l-header div.c-header-2 div.container div.c-box-header-2:after {
  content: "";
  display: table;
  clear: both;
}

header.l-header div.c-header-2 div.container div.c-bg-banner {
  position: absolute;
  bottom: 13px;
  right: -20%;
  width: 422px;
  height: 266px;
  z-index: 0;
}

header.l-header div.c-header-2 div.container:after {
  content: "";
  display: table;
  clear: both;
}

div.l-program {
  padding: 92px 0 50px 0px;
}

@media screen and (max-width: 767px) {
  div.l-program div.container {
    width: 100% !important;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

div.l-program div.container div.c-box-program div.box-program-left {
  float: left;
  width: 400px;
}

div.l-program div.container div.c-box-program div.box-program-left h2 {
  color: #F07D83;
  font-size: 32px;
  font-weight: 500;
  font-family: "Folks", sans-serif;
  padding-bottom: 26px !important;
}

@media screen and (max-width: 767px) {
  div.l-program div.container div.c-box-program div.box-program-left h2 {
    display: none;
  }
}

div.l-program div.container div.c-box-program div.box-program-left p {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  font-family: "Folks", sans-serif;
}

@media screen and (max-width: 767px) {
  div.l-program div.container div.c-box-program div.box-program-left p {
    color: #333333;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: "Folks", sans-serif;
  }
}

@media screen and (max-width: 767px) {
  div.l-program div.container div.c-box-program div.box-program-left {
    float: none;
    width: 100%;
  }
}

div.l-program div.container div.c-box-program div.box-program-right {
  float: right;
  padding-left: 44px;
}

div.l-program div.container div.c-box-program div.box-program-right h2 {
  display: none;
}

@media screen and (max-width: 767px) {
  div.l-program div.container div.c-box-program div.box-program-right h2 {
    display: block;
    color: #F07D83;
    font-size: 4rem;
    font-weight: 500;
    font-family: "Folks", sans-serif;
    padding-bottom: 40px !important;
  }
}

div.l-program div.container div.c-box-program div.box-program-right img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  div.l-program div.container div.c-box-program div.box-program-right {
    float: none;
    padding-left: 0px;
    width: 90%;
    padding-bottom: 40px !important;
  }
}

div.l-program div.container div.c-box-program:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 767px) {
  div.l-content-1 div.container {
    width: 100% !important;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

div.l-content-1 div.container div.title-content-1 h2 {
  color: #F07D83;
  font-size: 32px;
  font-weight: 500;
  font-family: "Folks", sans-serif;
  margin-bottom: 35px !important;
}

@media screen and (max-width: 767px) {
  div.l-content-1 div.container div.title-content-1 h2 {
    color: #F07D83;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: "Folks", sans-serif;
    margin-bottom: 17.5px !important;
  }
}

div.l-content-1 div.container div.main-content-1 div.box-content-1 {
  float: left;
  width: 310px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  border: 1px solid #F07D83;
  position: relative;
  margin: 0 35px 35px 0;
}

div.l-content-1 div.container div.main-content-1 div.box-content-1:nth-child(3n) {
  margin-right: 0px;
}

@media screen and (max-width: 767px) {
  div.l-content-1 div.container div.main-content-1 div.box-content-1 {
    margin: 0px;
    width: 49%;
    margin-right: 2%;
  }
  div.l-content-1 div.container div.main-content-1 div.box-content-1:nth-child(3n) {
    margin-right: 2%;
  }
  div.l-content-1 div.container div.main-content-1 div.box-content-1:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 2%;
  }
  div.l-content-1 div.container div.main-content-1 div.box-content-1:last-child {
    margin-bottom: 0;
  }
}

div.l-content-1 div.container div.main-content-1 div.box-content-1 div.box-info-content-1 {
  padding: 20px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

div.l-content-1 div.container div.main-content-1 div.box-content-1 div.box-info-content-1 h3 {
  color: #F07D83;
  font-size: 24px;
  font-weight: 500;
  font-family: "Folks", sans-serif;
  padding-bottom: 10px !important;
  width: 80%;
}

@media screen and (max-width: 767px) {
  div.l-content-1 div.container div.main-content-1 div.box-content-1 div.box-info-content-1 h3 {
    color: #F07D83;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Folks", sans-serif;
  }
}

div.l-content-1 div.container div.main-content-1 div.box-content-1 div.box-info-content-1 p {
  color: #333333;
  font-size: 15px;
  font-weight: 400;
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
}

@media screen and (max-width: 767px) {
  div.l-content-1 div.container div.main-content-1 div.box-content-1 div.box-info-content-1 p {
    color: #333333;
    font-size: 0.7rem;
    font-weight: 500;
    font-family: "Folks", sans-serif;
  }
}

@media screen and (max-width: 767px) {
  div.l-content-1 div.container div.main-content-1 div.box-content-1 div.box-info-content-1 {
    padding: 10px;
  }
}

div.l-content-1 div.container div.main-content-1 div.box-content-1 div.box-info-content-2 {
  background: #F4F4F4;
  padding: 20px;
}

div.l-content-1 div.container div.main-content-1 div.box-content-1 div.box-info-content-2 img {
  margin-right: 15px;
  vertical-align: middle;
}

@iclude breakpoint1 {
  div.l-content-1 div.container div.main-content-1 div.box-content-1 div.box-info-content-2 img {
    marrign: 0px;
  }
}

div.l-content-1 div.container div.main-content-1 div.box-content-1 div.box-info-content-2 p {
  color: #E4345A;
  font-size: 25px;
  font-weight: 500;
  font-family: "Folks", sans-serif;
  width: 70%;
  display: inline-block;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  div.l-content-1 div.container div.main-content-1 div.box-content-1 div.box-info-content-2 p {
    color: #F07D83;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Folks", sans-serif;
  }
}

@media screen and (max-width: 767px) {
  div.l-content-1 div.container div.main-content-1 div.box-content-1 div.box-info-content-2 {
    padding: 10px;
  }
}

div.l-content-1 div.container div.main-content-1 div.box-content-1 div.focus-content {
  position: absolute;
  top: -25px;
  right: -10px;
}

div.l-content-1 div.container div.main-content-1:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 767px) {
  div.l-content-2 div.container {
    width: 100% !important;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

div.l-content-2 div.container div.main-content-2 div.c-title {
  text-align: center;
  padding: 53px 0 30px 0;
}

div.l-content-2 div.container div.main-content-2 div.c-title h2 {
  color: #F07D83;
  font-size: 32px;
  font-weight: 500;
  font-family: "Folks", sans-serif;
}

@media screen and (max-width: 767px) {
  div.l-content-2 div.container div.main-content-2 div.c-title {
    padding: 25px 0 15px 0;
  }
  div.l-content-2 div.container div.main-content-2 div.c-title h2 {
    color: #F07D83;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: "Folks", sans-serif;
  }
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-1-content-2 {
  float: left;
  width: 485px;
  margin-right: 30px;
  padding: 25px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  border: 1px solid #F07D83;
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-1-content-2:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 767px) {
  div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-1-content-2 {
    float: none;
    width: 100%;
    margin-bottom: 20px !important;
  }
}

@media screen and (max-width: 767px) {
  div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-1-content-2 div.info-content-2 div.info-top {
    text-align: center;
  }
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-1-content-2 div.info-content-2 div.info-top div.img-info {
  float: left;
  width: 140px;
  height: 126px;
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-1-content-2 div.info-content-2 div.info-top div.img-info img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-1-content-2 div.info-content-2 div.info-top div.img-info {
    float: none;
    display: inline-block;
  }
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-1-content-2 div.info-content-2 div.info-top div.text-info {
  float: left;
  width: 293px;
  padding-left: 20px !important;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

@media screen and (max-width: 767px) {
  div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-1-content-2 div.info-content-2 div.info-top div.text-info {
    float: none;
    padding-left: 0 !important;
    text-align: center;
    width: 100%;
  }
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-1-content-2 div.info-content-2 div.info-top div.text-info h2 {
  color: #F07D83;
  font-size: 26px;
  font-weight: 500;
  font-family: "Folks", sans-serif;
  padding-bottom: 13px !important;
}

@media screen and (max-width: 767px) {
  div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-1-content-2 div.info-content-2 div.info-top div.text-info h2 {
    color: #F07D83;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Folks", sans-serif;
  }
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-1-content-2 div.info-content-2 div.info-top div.text-info p {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
}

@media screen and (max-width: 767px) {
  div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-1-content-2 div.info-content-2 div.info-top div.text-info p {
    color: #333333;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
  }
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-1-content-2 div.info-content-2 div.info-top:after {
  content: "";
  display: table;
  clear: both;
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-1-content-2 div.info-content-2 div.info-bottom div.info-bottom-2 {
  text-align: right;
  padding-top: 48px !important;
}

@media screen and (max-width: 767px) {
  div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-1-content-2 div.info-content-2 div.info-bottom div.info-bottom-2 {
    text-align: center;
    padding-top: 24px !important;
  }
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-1-content-2 div.info-content-2 div.info-bottom div.info-bottom-2 a {
  display: inline-block;
  width: 175px;
  height: 40px;
  background: #F07D83;
  text-align: center;
  line-height: 40px;
  position: relative;
  color: #FFFFFF;
  font-size: 19px;
  font-weight: 400;
  font-family: "Folks", sans-serif;
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-1-content-2 div.info-content-2 div.info-bottom div.info-bottom-2 a img {
  position: absolute;
  top: 11px;
  right: 12px;
}

@media screen and (max-width: 767px) {
  div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-1-content-2 div.info-content-2 div.info-bottom div.info-bottom-2 a {
    width: 43% !important;
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Folks", sans-serif;
  }
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 {
  float: left;
  width: 485px;
  padding: 25px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  border: 1px solid #F07D83;
}

@media screen and (max-width: 767px) {
  div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.info-top {
    text-align: center;
  }
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.info-top div.img-info {
  float: left;
  width: 158px;
  height: 77px;
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.info-top div.img-info img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.info-top div.img-info {
    float: none;
    display: inline-block;
  }
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.info-top div.text-info {
  float: left;
  width: 240px;
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.info-top div.text-info h2 {
  color: #F07D83;
  font-size: 26px;
  font-weight: 500;
  font-family: "Folks", sans-serif;
  padding-bottom: 13px !important;
  margin-left: 25px !important;
}

@media screen and (max-width: 767px) {
  div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.info-top div.text-info {
    float: none;
    width: 100%;
    text-align: center;
    padding-top: 25px;
  }
  div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.info-top div.text-info h2 {
    color: #F07D83;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Folks", sans-serif;
  }
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.info-top:after {
  content: "";
  display: table;
  clear: both;
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.text-info-2 {
  padding-top: 10px !important;
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.text-info-2 p {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.text-info-2 p.text-1 {
  color: #333333;
  font-size: 12px;
  font-weight: 500;
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
}

@media screen and (max-width: 767px) {
  div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.text-info-2 {
    text-align: center;
  }
  div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.text-info-2 p {
    color: #333333;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
  }
  div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.text-info-2 p.text-1 {
    color: #333333;
    font-size: 0.6rem;
    font-weight: 500;
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
  }
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.info-bottom div.info-bottom-1 {
  float: left;
  padding-top: 13px !important;
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.info-bottom div.info-bottom-1 p {
  color: #F07D83;
  font-size: 14px;
  font-weight: 400;
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
}

@media screen and (max-width: 767px) {
  div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.info-bottom div.info-bottom-1 {
    float: none;
    padding-top: 7px !important;
    text-align: center;
    color: #F07D83;
    font-size: 0.7px;
    font-weight: 400;
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
  }
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.info-bottom div.info-bottom-2 {
  float: left;
  padding-top: 30px !important;
  margin-left: 55px;
}

@media screen and (max-width: 767px) {
  div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.info-bottom div.info-bottom-2 {
    text-align: center;
    margin-left: 0 !important;
  }
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.info-bottom div.info-bottom-2 a {
  display: inline-block;
  width: 175px;
  height: 40px;
  background: #F07D83;
  text-align: center;
  line-height: 40px;
  position: relative;
  color: #FFFFFF;
  font-size: 19px;
  font-weight: 400;
  font-family: "Folks", sans-serif;
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.info-bottom div.info-bottom-2 a img {
  position: absolute;
  top: 11px;
  right: 12px;
}

@media screen and (max-width: 767px) {
  div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.info-bottom div.info-bottom-2 {
    float: none;
  }
  div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.info-bottom div.info-bottom-2 a {
    width: 43%;
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Folks", sans-serif;
  }
}

div.l-content-2 div.container div.main-content-2 div.c-box-content-2 div.box-2-content-2 div.info-content-2 div.info-bottom:after {
  content: "";
  display: table;
  clear: both;
}

div.l-content-2 div.container div.main-content-2:after {
  content: "";
  display: table;
  clear: both;
}

div.l-content-3 {
  margin-top: 75px;
}

div.l-content-3 div.container {
  padding: 38px;
  border: 1px solid #E4AB14;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

@media screen and (max-width: 767px) {
  div.l-content-3 div.container {
    border: none;
    width: 100% !important;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

div.l-content-3 div.container div.c-main-2 {
  margin-top: 15px;
}

@media screen and (max-width: 767px) {
  div.l-content-3 div.container div.c-main-2 {
    margin-top: 8px;
  }
}

div.l-content-3 div.container div.c-main-3 {
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  div.l-content-3 div.container div.c-main-3 {
    margin-top: 20px;
  }
}

/* ============== OBJECT =============== */
div.c-logo {
  padding: 14px 0;
}

@media screen and (max-width: 767px) {
  div.c-logo {
    padding: 24px 0;
  }
}

@media screen and (max-width: 767px) {
  div.c-nav {
    width: 100%;
  }
}

div.c-nav ul li {
  float: left;
}

@media screen and (max-width: 767px) {
  div.c-nav ul li {
    float: none;
    text-align: center;
    border: 1px solid #B2B2B2;
    border-width: 1px 0 1px 0;
  }
  div.c-nav ul li + li {
    border-top: none;
  }
}

div.c-nav ul li a {
  display: block;
  padding: 25px 18px 20px 0;
  color: #333333;
  font-size: 17px;
  font-weight: 400;
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
}

div.c-nav ul li a img {
  vertical-align: text-bottom;
}

div.c-nav ul li a span {
  margin-left: 5px;
}

@media screen and (max-width: 767px) {
  div.c-nav ul li a {
    text-align: center;
  }
}

div.c-nav ul li:last-child a {
  padding-right: 0px;
}

@media screen and (max-width: 767px) {
  div.c-table-banner {
    width: 100%;
  }
}

div.c-table-banner img {
  width: 100%;
}

div.c-btn-1 a, div.c-btn-2 a, div.c-btn-3 a {
  display: inline-block;
  width: 225px;
  height: 56px;
  background: #F07D83;
  text-align: center;
  line-height: 56px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
  font-family: "Folks", sans-serif;
  margin-bottom: 30px;
  position: relative;
}

div.c-btn-1 a img, div.c-btn-2 a img, div.c-btn-3 a img {
  position: absolute;
  right: 10px;
  top: 20px;
}

@media screen and (max-width: 767px) {
  div.c-btn-1 a, div.c-btn-2 a, div.c-btn-3 a {
    width: 100%;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Folks", sans-serif;
  }
}

div.c-btn-2 a {
  background: #8E76BA;
}

div.c-btn-3 a {
  background: #63BDFF;
}

@media screen and (max-width: 767px) {
  div.c-bg-banner {
    display: none;
  }
}

div.c-bg-banner img {
  width: 100%;
}

div.c-info-header div.c-title-header-1 {
  margin: 23px 16px;
  border-bottom: 1px solid #BFBFBF;
  padding-bottom: 20px;
}

div.c-info-header div.c-title-header-1 img {
  float: left;
  margin-right: 10px;
}

div.c-info-header div.c-title-header-1 p {
  float: left;
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  font-family: "Folks", sans-serif;
}

div.c-info-header div.c-title-header-1:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 767px) {
  div.c-info-header div.c-title-header-1 {
    margin: 12px 30px;
  }
  div.c-info-header div.c-title-header-1 p {
    color: #333333;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: "Folks", sans-serif;
  }
}

div.c-info-header div.c-title-header-2 {
  margin: 0 16px 23px 16px;
}

div.c-info-header div.c-title-header-2 p.text-1 {
  color: #333333;
  font-size: 13px;
  font-weight: 500;
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
}

div.c-info-header div.c-title-header-2 p.text-2 {
  color: #333333;
  font-size: 17px;
  font-weight: 800;
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
}

div.c-info-header div.c-title-header-2 p.text-3 {
  color: #F07D83;
  font-size: 24px;
  font-weight: bold;
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
}

@media screen and (max-width: 767px) {
  div.c-info-header div.c-title-header-2 {
    margin: 23px 30px;
  }
  div.c-info-header div.c-title-header-2 p.text-1 {
    color: #333333;
    font-size: 0.7rem;
    font-weight: 500;
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
  }
  div.c-info-header div.c-title-header-2 p.text-2 {
    color: #333333;
    font-size: 0.8rem;
    font-weight: 800;
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
  }
  div.c-info-header div.c-title-header-2 p.text-3 {
    color: #F07D83;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
  }
}

.c-main-1 .title-main-1 h2 {
  color: #E4AB14;
  font-size: 22px;
  font-weight: 500;
  font-family: "Folks", sans-serif;
  padding-bottom: 25px !important;
}

@media screen and (max-width: 767px) {
  .c-main-1 .title-main-1 h2 {
    color: #E4AB14;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: "Folks", sans-serif;
  }
}

.c-main-1 .box-main-1 {
  padding-bottom: 57px !important;
}

@media screen and (max-width: 767px) {
  .c-main-1 .box-main-1 {
    padding-bottom: 28px !important;
  }
}

.c-main-1 .box-main-1 .img-main-1 {
  float: left;
  width: 170px;
}

.c-main-1 .box-main-1 .img-main-1 img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .c-main-1 .box-main-1 .img-main-1 {
    width: 15%;
  }
}

.c-main-1 .box-main-1 .info-main-1 {
  float: left;
  width: 725px;
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .c-main-1 .box-main-1 .info-main-1 {
    width: 70%;
  }
}

.c-main-1 .box-main-1 .info-main-1 h2 {
  color: #E4AB14;
  font-size: 27px;
  font-weight: 500;
  font-family: "Folks", sans-serif;
  padding-bottom: 15px !important;
}

@media screen and (max-width: 767px) {
  .c-main-1 .box-main-1 .info-main-1 h2 {
    color: #E4AB14;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: "Folks", sans-serif;
  }
}

.c-main-1 .box-main-1 .info-main-1 h2 span {
  display: block;
}

@media screen and (max-width: 767px) {
  .c-main-1 .box-main-1 .info-main-1 h2 span {
    display: inline;
  }
}

.c-main-1 .box-main-1 .info-main-1 p {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
}

@media screen and (max-width: 767px) {
  .c-main-1 .box-main-1 .info-main-1 p {
    display: none;
  }
}

.c-main-1 .box-main-1:after {
  content: "";
  display: table;
  clear: both;
}

.c-main-1 .info-main-2 {
  display: none;
}

@media screen and (max-width: 767px) {
  .c-main-1 .info-main-2 {
    display: block;
    padding-bottom: 27px !important;
  }
}

.c-main-1 .info-main-2 p {
  color: #333333;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
}

.c-main-1 .btn-main-1 {
  float: left;
}

@media screen and (max-width: 767px) {
  .c-main-1 .btn-main-1 {
    float: none;
  }
}

.c-main-1 .btn-main-1 a {
  display: block;
  width: 77px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  background: #E4AB14;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
  font-family: "Folks", sans-serif;
}

@media screen and (max-width: 767px) {
  .c-main-1 .btn-main-1 a {
    color: #FFFFFF;
    font-size: 0.7rem;
    font-weight: bold;
    font-family: "Folks", sans-serif;
    width: 35px;
    height: 15px;
    line-height: 15px;
  }
}

.c-main-1 .text-main-1 {
  float: left;
  margin-left: 12px;
}

@media screen and (max-width: 767px) {
  .c-main-1 .text-main-1 {
    margin-left: 0px;
  }
}

.c-main-1 .text-main-1 p {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  font-family: "Folks", sans-serif;
}

@media screen and (max-width: 767px) {
  .c-main-1 .text-main-1 p {
    color: #333333;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Folks", sans-serif;
  }
}

.c-main-1:after {
  content: "";
  display: table;
  clear: both;
}

.c-main-2 .box-1-main-2, .c-main-2 .box-2-main-2 {
  float: left;
  width: 445px;
  margin-right: 30px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  border: 1px solid #54A9FF;
  padding: 20px;
  height: 201px;
}

@media screen and (max-width: 767px) {
  .c-main-2 .box-1-main-2 {
    width: 100%;
    height: 100%;
  }
}

.c-main-2 .box-1-main-2 .content-box-1-main-2 .title-box-1-main-2 img {
  width: 20px;
}

.c-main-2 .box-1-main-2 .content-box-1-main-2 .title-box-1-main-2 span {
  color: #38ACFF;
  font-size: 25px;
  font-weight: 400;
  font-family: "Folks", sans-serif;
}

@media screen and (max-width: 767px) {
  .c-main-2 .box-1-main-2 .content-box-1-main-2 .title-box-1-main-2 span {
    color: #38ACFF;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: "Folks", sans-serif;
  }
}

.c-main-2 .box-1-main-2 .content-box-1-main-2 .title-box-1-main-2 p {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
}

@media screen and (max-width: 767px) {
  .c-main-2 .box-1-main-2 .content-box-1-main-2 .title-box-1-main-2 p {
    color: #38ACFF;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Folks", sans-serif;
  }
}

.c-main-2 .box-1-main-2 .content-box-1-main-2 .btn-box-1-main-2 {
  padding-top: 42px !important;
}

@media screen and (max-width: 767px) {
  .c-main-2 .box-1-main-2 .content-box-1-main-2 .btn-box-1-main-2 {
    padding-top: 22px !important;
  }
}

.c-main-2 .box-1-main-2 .content-box-1-main-2 .btn-box-1-main-2 a.btn-1, .c-main-2 .box-1-main-2 .content-box-1-main-2 .btn-box-1-main-2 a.btn-2 {
  display: inline-block;
  width: 175px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  font-size: 19px;
  font-weight: 400;
  font-family: "Folks", sans-serif;
  background: #38ACFF;
  position: relative;
  margin-right: 15px;
}

@media screen and (max-width: 767px) {
  .c-main-2 .box-1-main-2 .content-box-1-main-2 .btn-box-1-main-2 a.btn-1, .c-main-2 .box-1-main-2 .content-box-1-main-2 .btn-box-1-main-2 a.btn-2 {
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Folks", sans-serif;
    width: 87px;
    height: 20px;
    line-height: 20px;
  }
}

.c-main-2 .box-1-main-2 .content-box-1-main-2 .btn-box-1-main-2 a.btn-1 img, .c-main-2 .box-1-main-2 .content-box-1-main-2 .btn-box-1-main-2 a.btn-2 img {
  position: absolute;
  top: 10px;
  right: 10px;
}

@media screen and (max-width: 767px) {
  .c-main-2 .box-1-main-2 .content-box-1-main-2 .btn-box-1-main-2 a.btn-1 img, .c-main-2 .box-1-main-2 .content-box-1-main-2 .btn-box-1-main-2 a.btn-2 img {
    top: 7px;
    right: 7px;
    width: 5%;
  }
}

.c-main-2 .box-2-main-2 {
  margin-right: 0px;
  border: 1px solid #5DC33F;
}

@media screen and (max-width: 767px) {
  .c-main-2 .box-2-main-2 {
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }
}

.c-main-2 .box-2-main-2 .content-box-2-main-2 .title-box-2-main-2 img {
  width: 10px;
}

.c-main-2 .box-2-main-2 .content-box-2-main-2 .title-box-2-main-2 span {
  color: #5DC33F;
  font-size: 25px;
  font-weight: 400;
  font-family: "Folks", sans-serif;
}

@media screen and (max-width: 767px) {
  .c-main-2 .box-2-main-2 .content-box-2-main-2 .title-box-2-main-2 span {
    color: #5DC33F;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: "Folks", sans-serif;
  }
}

.c-main-2 .box-2-main-2 .content-box-2-main-2 .title-box-2-main-2 p {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
}

@media screen and (max-width: 767px) {
  .c-main-2 .box-2-main-2 .content-box-2-main-2 .title-box-2-main-2 p {
    color: #333333;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
  }
}

.c-main-2 .box-2-main-2 .content-box-2-main-2 .contact-1-box-2-main-2 {
  display: inline-block;
  width: 60%;
  padding-top: 18px;
}

@media screen and (max-width: 767px) {
  .c-main-2 .box-2-main-2 .content-box-2-main-2 .contact-1-box-2-main-2 {
    padding-top: 7px;
    width: 100%;
  }
}

.c-main-2 .box-2-main-2 .content-box-2-main-2 .contact-1-box-2-main-2 p {
  color: #5DC33F;
  font-size: 15px;
  font-weight: 500;
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
}

@media screen and (max-width: 767px) {
  .c-main-2 .box-2-main-2 .content-box-2-main-2 .contact-1-box-2-main-2 p {
    color: #5DC33F;
    font-size: 0.75rem;
    font-weight: 500;
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
  }
}

.c-main-2 .box-2-main-2 .content-box-2-main-2 .contact-1-box-2-main-2 h2 {
  color: #5DC33F;
  font-size: 24px;
  font-weight: 500;
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
  position: relative;
}

.c-main-2 .box-2-main-2 .content-box-2-main-2 .contact-1-box-2-main-2 h2 img {
  display: none;
}

@media screen and (max-width: 767px) {
  .c-main-2 .box-2-main-2 .content-box-2-main-2 .contact-1-box-2-main-2 h2 {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
    background: #5DC33F;
    padding: 0 5px !important;
  }
  .c-main-2 .box-2-main-2 .content-box-2-main-2 .contact-1-box-2-main-2 h2 img {
    display: block;
    position: absolute;
    top: 4px;
    right: 7px;
    width: 5px;
  }
}

.c-main-2 .box-2-main-2 .content-box-2-main-2 .contact-2-box-2-main-2 {
  display: inline-block;
  width: 35%;
}

@media screen and (max-width: 767px) {
  .c-main-2 .box-2-main-2 .content-box-2-main-2 .contact-2-box-2-main-2 {
    width: 100%;
  }
}

.c-main-2 .box-2-main-2 .content-box-2-main-2 .contact-2-box-2-main-2 p {
  color: #333333;
  font-size: 12px;
  font-weight: 500;
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
}

@media screen and (max-width: 767px) {
  .c-main-2 .box-2-main-2 .content-box-2-main-2 .contact-2-box-2-main-2 p {
    color: #333333;
    font-size: 0.6rem;
    font-weight: 500;
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
  }
}

.c-main-2 .box-2-main-2 .content-box-2-main-2 .number-phone-box-2-main-2 {
  padding-top: 13px !important;
}

@media screen and (max-width: 767px) {
  .c-main-2 .box-2-main-2 .content-box-2-main-2 .number-phone-box-2-main-2 {
    padding-top: 5px !important;
  }
}

.c-main-2 .box-2-main-2 .content-box-2-main-2 .number-phone-box-2-main-2 p {
  color: #333333;
  font-size: 12px;
  font-weight: 500;
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
}

@media screen and (max-width: 767px) {
  .c-main-2 .box-2-main-2 .content-box-2-main-2 .number-phone-box-2-main-2 p {
    color: #333333;
    font-size: 0.6rem;
    font-weight: 500;
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
  }
}

.c-main-2:after {
  content: "";
  display: table;
  clear: both;
}

.c-main-3 .title-1-main-3 h2 {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 400;
  font-family: "Folks", sans-serif;
  background: #E4AB14;
  display: inline-block;
  padding: 5px 10px !important;
}

@media screen and (max-width: 767px) {
  .c-main-3 .title-1-main-3 h2 {
    color: #FFFFFF;
    font-size: 0.7rem;
    font-weight: 400;
    font-family: "Folks", sans-serif;
  }
}

.c-main-3 .title-1-main-3 p {
  padding-top: 17px !important;
  color: #333333;
  font-size: 17px;
  font-weight: 400;
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
}

.c-main-3 .title-1-main-3 p span {
  color: #E4AB14;
  font-size: 17px;
  font-weight: 400;
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
}

@media screen and (max-width: 767px) {
  .c-main-3 .title-1-main-3 p span {
    color: #E4AB14;
    font-size: 0.7rem;
    font-weight: 400;
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
    display: block;
  }
}

.c-main-3 .title-1-main-3 p + p {
  padding-top: 0 !important;
}

@media screen and (max-width: 767px) {
  .c-main-3 .title-1-main-3 p {
    color: #333333;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
  }
}

.c-main-3 .title-main-3 {
  margin-top: 40px !important;
}

@media screen and (max-width: 767px) {
  .c-main-3 .title-main-3 {
    margin-top: 15px !important;
  }
}

.c-main-3 .title-main-3 h2 {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 400;
  font-family: "Folks", sans-serif;
  background: #E4AB14;
  display: inline-block;
  padding: 5px 10px !important;
}

@media screen and (max-width: 767px) {
  .c-main-3 .title-main-3 h2 {
    color: #FFFFFF;
    font-size: 0.7rem;
    font-weight: 400;
    font-family: "Folks", sans-serif;
  }
}

.c-main-3 .contact-main-3 .phone-main-3 {
  padding-top: 25px;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .c-main-3 .contact-main-3 .phone-main-3 {
    padding-top: 12px;
    display: block;
  }
}

.c-main-3 .contact-main-3 .phone-main-3 p {
  color: #E4AB14;
  font-size: 16px;
  font-weight: 400;
  font-family: "Folks", sans-serif;
}

@media screen and (max-width: 767px) {
  .c-main-3 .contact-main-3 .phone-main-3 p {
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Folks", sans-serif;
  }
}

.c-main-3 .contact-main-3 .phone-main-3 p span {
  color: #E4AB14;
  font-size: 27px;
}

@media screen and (max-width: 767px) {
  .c-main-3 .contact-main-3 .phone-main-3 p span {
    color: #E4AB14;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: "Folks", sans-serif;
  }
}

.c-main-3 .contact-main-3 .phone-main-3 p span.tel {
  display: none;
}

@media screen and (max-width: 767px) {
  .c-main-3 .contact-main-3 .phone-main-3 p span.tel {
    display: inline-block;
    color: #E4AB14;
    font-size: 0.7rem;
    font-weight: 400;
    font-family: "Folks", sans-serif;
  }
}

@media screen and (max-width: 767px) {
  .c-main-3 .contact-main-3 .phone-main-3 p img {
    width: 10px;
  }
}

.c-main-3 .contact-main-3 .time-main-3 {
  display: inline-block;
  margin-left: 34px;
}

.c-main-3 .contact-main-3 .time-main-3 p {
  color: #333333;
  font-size: 15px;
  font-weight: 400;
  font-family: "Folks", sans-serif;
}

.c-main-3 .contact-main-3 .address-main-3 {
  display: inline-block;
  margin-left: 25px;
}

.c-main-3 .contact-main-3 .address-main-3 p {
  color: #333333;
  font-size: 12px;
  font-weight: 400;
  font-family: "Folks", sans-serif;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/* ============== DEVICES =============== */
/*	=========================================================================================
	MEDIUM DEVICES
	========================================================================================= */
/*	=========================================================================================
	SMALL DEVICES
	========================================================================================= */
