div.c-btn-1{
	a{
		display:inline-block;
		width:225px;
		height:56px;
		background: #F07D83;
		text-align: center;
		line-height: 56px;
		@include setFont(24px,#FFFFFF,400,$font-folks)
		margin-bottom:30px;
		position:relative;
		img{
			position:absolute;
			right:10px;
			top:20px;
		}
		@include breakpoint1{
			width:100%;
			@include setFont(1.2rem,#FFFFFF,400,$font-folks)
		}
	}
}
div.c-btn-2{
	@extend div.c-btn-1;
	a{
		background: #8E76BA;
	}
}
div.c-btn-3{
	@extend div.c-btn-1;
	a{
		background: #63BDFF;
	}
}